.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(236, 238, 130, 0.47) 0%,
    rgba(0, 212, 29, 0.46) 100%
  );
}
